@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  
  --color-charcoal-900: #16181b;
  --color-charcoal-800: #25282d;
  --color-charcoal-700: #3c4045;
  --color-charcoal-100: #dcdedd;
  
  --color-offwhite-100: #ffffff;
  --color-offwhite-200: #f7f6f2; /* Creamy off-white base */
  --color-offwhite-300: #ebe9e1;
  --color-offwhite-400: #dcdad0;
  
  --color-terracotta: #8c3629;   /* Muted Minang red */
  --color-terracotta-hover: #6d291e;
  --color-terracotta-light: #ab4435;
}

:root {
  --background: var(--color-offwhite-200);
  --foreground: var(--color-charcoal-900);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

/* Geometric Structural Weave Borders (Songket Inspired) */
.songket-border-top {
  position: relative;
}

.songket-border-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: 
    linear-gradient(45deg, var(--color-charcoal-900) 25%, transparent 25%), 
    linear-gradient(-45deg, var(--color-charcoal-900) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--color-charcoal-900) 75%),
    linear-gradient(-45deg, transparent 75%, var(--color-charcoal-900) 75%);
  background-size: 6px 6px;
  background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
}

.songket-border-left {
  position: relative;
}

.songket-border-left::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 6px;
  height: 100%;
  background-image: 
    linear-gradient(45deg, var(--color-charcoal-900) 25%, transparent 25%), 
    linear-gradient(-45deg, var(--color-charcoal-900) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--color-charcoal-900) 75%),
    linear-gradient(-45deg, transparent 75%, var(--color-charcoal-900) 75%);
  background-size: 6px 6px;
  background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
}

/* Base Structural Grid */
.structural-grid {
  background-image: 
    linear-gradient(var(--color-offwhite-300) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-offwhite-300) 1px, transparent 1px);
  background-size: 48px 48px;
  background-position: center;
}

.weave-bg {
  background-image: repeating-linear-gradient(45deg, var(--color-offwhite-300) 0, var(--color-offwhite-300) 1px, transparent 0, transparent 4px);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  animation: scroll-left 60s linear infinite;
}

.animate-scroll-left:hover {
  animation-play-state: paused;
}
